section.advantages.section_content-align.section_theme-grey
   .container  
      h5.over-title наши Преимущества
      h1.title.title_theme-dark Почему именно мы?
      h5.description.description_theme-dark.advantages__description 
         | Ювелирная бижутерия ― основа медь  покрывают чистым золотом с пробой 18 - 2 карата.
         br
         |Позолоченные покрытия примерно вдвое
      .advantages__wrap
         .advantages-item
            .advantages-item__icon.icon.icon_theme-alarm
            h3.advantages-item__title Удобный магазин
            p.advantages-item__description
               |  Если Вы выберете наш магазин, 
               br
               | то сэкономите массу времени и сил!
               br
               | Теперь не нужно ходить далеко
         .advantages-item
            .advantages-item__icon.icon.icon_theme-wallet   
            h3.advantages-item__title Экономные цены
            p.advantages-item__description
               | Наша компания предлагаем своим 
               br
               |клиентам длительное сотрудничество 
               br
               | на выгодных условиях!
         .advantages-item
            .advantages-item__icon.icon.icon_theme-home     
            h3.advantages-item__title Надежный парнер
            p.advantages-item__description
               |  Среди клиентов нашего магазина есть 
               br
               | не только розничные покупатели, 
               br
               | но и продавцы.
            
           


            
            
           


         