section.banner.section_content-align
   .container
      .over-title Комплекты Бижутерии
      .title.title_theme-light Широкий ассортимент
      h5.description.description_theme-light.banner__description 
         | Ювелирная бижутерия ― основа медь  покрывают чистым золотом с пробой 18 - 2 карата.
         br 
         | Позолоченные покрытия примерно вдвое
      button.button.button_theme-purple.banner__button Подробнее   