section.company.section_content-align
   .container
      h1.title Наша компания
      h5.description.description_theme-dark.company__description
         | Ювелирная бижутерия ― основа медь  покрывают чистым золотом с пробой 18 - 2 карата.
         br 
         | Позолоченные покрытия примерно вдвое
      .company-wrap
         .company-item
            .company-info.company-info_right
               .company-info__header
                  h2.company-info__title
                     | Передовой эксперт 
                     br
                     | в сфере продаж
                  .icon.icon_theme-stats.company-info__icon_left     
               p.company-info__description.company-info__description_position      
                  | Наша компания является передовым экспертом в области повышения
                  br 
                  | эффективности ведения бизнеса и управления проектами. Наша
                  br
                  | компания является передовым экспертом в области повышения
                  br
                  | эффективности ведения бизнеса и управления проектами. 
               button.button.button_theme-white.company-info__button Обратная связь   
            .company-product.company-product_left
               img.company-product__img(src="img/company-ear_rings.png")
         .company-item.company-item_reverse
              .company-info.company-info_left
                 .company-info__header.company-info__header_right
                    h2.company-info__title
                       | Информационные 
                       br
                       | технологии
                    .icon.icon_theme-newspaper.company-info__icon_right    
                 p.company-info__description.company-info__description_position      
                    | Наша компания является передовым экспертом в области повышения
                    br 
                    | эффективности ведения бизнеса и управления проектами. Наша компания
                    br
                    |  является передовым экспертом в области повышения эффективности
                    br
                    |  ведения бизнеса и управления проектами. 
                 button.button.button_theme-white.company-info__button Обратная связь   
              .company-product.company-product_right
                 img.company-product__img(src="img/company-bracelet.png")         