section.contact.section_content-align.section_theme-grey
   .container
      h1.title Хотите работать с нами?
      h5.description.contact__description.description_theme-dark 
         | Ювелирная бижутерия ― основа медь  покрывают чистым золотом с пробой 18 - 2 карата.
         br
         | Позолоченные покрытия примерно вдвое
      .form-wrap
         form.form-contact
            input.form-contact__input(placeholder="Ваше имя")
            input.form-contact__input.form-contact__input_margin(placeholder="Ваш E-mail")
            textarea.form-contact__field(placeholder="Введите сообщение")
      button.button.button_theme-purple.contact__button Связаться с нами      
      h5.contact__join Мы свяжемся с вами в течении 24 часов
            
            
            