footer.footer
   .container
      .footer-wrap   
         p.footer-wrap__text 
            | Магазин работает на 
            a.footer-wrap__text_color(href="#") ImageCMS
         ul.footer-list
            li.footer-list__item
               a.footer-list__link Мы в соцсетях
            li.footer-list__item
               a.footer-list__link 
                  i.icon-social-twitter.footer__icon_theme-purple
            li.footer-list__item
               a.footer-list__link 
                  i.icon-social-facebook.footer__icon_theme-purple
            li.footer-list__item
               a.footer-list__link    
                  i.icon-social-google.footer__icon_theme-purple