section.home.section_content-align
   .container
      h5.over-title бижутерия
      h1.title.title_theme-light 
         | Ювелирная бижутерия
         br
         | высшее качество !
      h5.description.description_theme-light.home__description
         | Ювелирная бижутерия ― основа медь  покрывают чистым золотом с пробой 18 - 2 карата. 
         br
         | Позолоченные покрытия примерно вдвое повышают твёрдость поверхности и являются
         br
         |хорошим средством защиты её от коррозии.
      button.button.button_theme-purple Заказать
      span.home__slogan Осуществляем доставку товаров 
      .home__arrow-down 
   