section.photos.section_theme-blue.section_content-align
   .container
      h1.title.title_theme-light Фотоальбом
      p.description.description_theme-light.photos__description 
         | Ювелирная бижутерия ― основа медь  покрывают чистым золотом с пробой 18 - 2 карата.
         br
         | Позолоченные покрытия примерно вдвое
      .photos-slider
         .photos-slide
            img.photos-slide__img(src="img/photos-1.jpg")
         .photos-slide
            img.photos-slide__img(src="img/photos-3.jpg")
         .photos-slide
            img.photos-slide__img(src="img/photos-3.jpg")   
         .photos-slide
            img.photos-slide__img(src="img/photos-1.jpg")
         .photos-slide
            img.photos-slide__img(src="img/photos-1.jpg")
         .photos-slide
            img.photos-slide__img(src="img/photos-3.jpg")      
         .photos-slide
            img.photos-slide__img(src="img/photos-1.jpg")
         .photos-slide
            img.photos-slide__img(src="img/photos-1.jpg")
         .photos-slide
            img.photos-slide__img(src="img/photos-3.jpg")      
         .photos-slide
            img.photos-slide__img(src="img/photos-1.jpg")
         .photos-slide
            img.photos-slide__img(src="img/photos-1.jpg")
         .photos-slide
            img.photos-slide__img(src="img/photos-3.jpg")         
            
            