section.products.section_content-align
   .container
      h1.title Наши товары
      h5.description.description_theme-dark.products__description 
         | Ювелирная бижутерия ― основа медь  покрывают чистым золотом с пробой 18 - 2 карата.
         br
         | Позолоченные покрытия примерно вдвое
      ul.products-list
         li.products-list__item
            button.button.button_theme-white Все товары
         li.products-list__item
            button.button.button_theme-white Серьги
         li.products-list__item
            button.button.button_theme-white Кольца
         li.products-list__item
            button.button.button_theme-white Серьги
      .products-wrap
         .products-item
            img.products-item__img(src="../img/products-1.jpg")
            .products-item-text
               p.products-item-text__description
                  | Точилка Buromax, металлическая,
                  br
                  | клиноподобная, серебро
            span.products-item__price $ 32200
         .products-item
            img.products-item__img(src="../img/products-2.jpg")
            .products-item-text
               p.products-item-text__description
                  | Точилка Buromax, металлическая,
                  br
                  | клиноподобная, серебро
            span.products-item__price $ 32200      
         .products-item
            img.products-item__img(src="../img/products-3.jpg")
            .products-item-text
               p.products-item-text__description
                  | Точилка Buromax, металлическая,
                  br
                  | клиноподобная, серебро
            span.products-item__price $ 32200         
         .products-item
            img.products-item__img(src="../img/products-4.jpg")
            .products-item-text
               p.products-item-text__description
                  | Точилка Buromax, металлическая,
                  br
                  | клиноподобная, серебро
            span.products-item__price $ 32200  
         .products-slider 
            .products-slide
               .products-slide-text
                  h1.products-slide__title Cartier black & white 
                  p.products-slide__description
                     | На нашем сайте Вы всегда найдете канцтовары, бумагу и другие
                     br
                     | товары для офиса по самим низким ценам  
               
               
         .products-item.products-item_slider-row
           img.products-item__img(src="../img/products-5.jpg")
           .products-item-text
              p.products-item-text__description
                 | Точилка Buromax, металлическая,
                 br
                 | клиноподобная, серебро
           span.products-item__price $ 32200     
         .products-item
            img.products-item__img(src="../img/products-6.jpg")
            .products-item-text
               p.products-item-text__description
                  | Точилка Buromax, металлическая,
                  br
                  | клиноподобная, серебро
               span.products-item__price $ 32200
         .products-item
            img.products-item__img(src="../img/products-7.jpg")
            .products-item-text
               p.products-item-text__description
                  | Точилка Buromax, металлическая,
                  br
                  | клиноподобная, серебро
            span.products-item__price $ 32200      
         .products-item
            img.products-item__img(src="../img/products-8.jpg")
            .products-item-text
               p.products-item-text__description
                  | Точилка Buromax, металлическая,
                  br
                  | клиноподобная, серебро
            span.products-item__price $ 32200         
         .products-item
            img.products-item__img(src="../img/products-9.jpg")
            .products-item-text
               p.products-item-text__description
                  | Точилка Buromax, металлическая,
                  br
                  | клиноподобная, серебро
            span.products-item__price $ 32200  
               
         
            