section.shops.section_content-align.section_theme-grey
   .container
      h1.title Магазины бижутерии
      h5.description.shops__description.description_theme-dark 
         | Ювелирная бижутерия ― основа медь  покрывают чистым золотом с пробой 18 - 2 карата.
         br 
         | Позолоченные покрытия примерно вдвое
      .shops-slider
         .shops-slide
            .shops-slide-inner
               img.shops-slide__img(src="img/slide-1.png")
               .shops-slide-text
                     h2.shops-slide-text__title Магазин Donjon
                     p.shops-slide-text__description 
                        | На нашем сайте Вы всегда найдете
                        br 
                        | канцтовары, бумагу и другие товары
                        br 
                        | для офиса по низким ценам.
               button.button.button_theme-white Смотреть         
         .shops-slide
            .shops-slide-inner
               img.shops-slide__img(src="img/slide-2.png")
               .shops-slide-text
                  h2.shops-slide-text__title Магазин Donjon
                  p.shops-slide-text__description 
                     | На нашем сайте Вы всегда найдете
                     br 
                     | канцтовары, бумагу и другие товары
                     br 
                     | для офиса по низким ценам.
               button.button.button_theme-white Смотреть       
         .shops-slide
            .shops-slide-inner
               img.shops-slide__img(src="img/slide-3.png")
               .shops-slide-text
                  h2.shops-slide-text__title Магазин Donjon
                  p.shops-slide-text__description 
                     | На нашем сайте Вы всегда найдете
                     br 
                     | канцтовары, бумагу и другие товары
                     br 
                     | для офиса по низким ценам.
               button.button.button_theme-white Смотреть      
         .shops-slide
            .shops-slide-inner
               img.shops-slide__img(src="img/slide-4.png") 
               .shops-slide-text
                  h2.shops-slide-text__title Магазин Donjon
                  p.shops-slide-text__description 
                     | На нашем сайте Вы всегда найдете
                     br 
                     | канцтовары, бумагу и другие товары
                     br 
                     | для офиса по низким ценам.
               button.button.button_theme-white.shops__button Смотреть      