section.tariff.section_content-align.section_theme-grey
   .container
      h1.title Выберите свой план
      h3.description.tariff__description.description_theme-dark 
         | Ювелирная бижутерия ― основа медь  покрывают чистым золотом с пробой 18 - 2 карата.
         br
         | Позолоченные покрытия примерно вдвое
      .tariff-wrap
         .tariff-item
            .tariff-item-header
               p.tariff-item-header__type Базовый 
               p.tariff-item-header__price
                  sup.tariff-item-header__price_sup-weight $
                  | 300
               span.tariff-item-header__month В месяц  
            .tariff-item-text
               p.tariff-item-text__description
                  | Скидка 15% на все товары
                  br
                  | Круглосуточно 
                  br
                  | Бесплатная доставка
                  br 
                  | Скидка 15% на все товары
                  br
                  | Круглосуточно    
            button.button.button_theme-purple.tariff__button Заказать сейчас
         .tariff-item
            .tariff-item-header
               p.tariff-item-header__type Стандарт
               p.tariff-item-header__price
                  sup.tariff-item-header__price_sup-weight $
                  | 500
               span.tariff-item-header__month В месяц   
            .tariff-item-text
               p.tariff-item-text__description
                  | Скидка 15% на все товары
                  br
                  | Круглосуточно 
                  br
                  | Бесплатная доставка
                  br 
                  | Скидка 15% на все товары
                  br
                  | Круглосуточно    
            button.button.button_theme-purple.tariff__button Заказать сейчас   
         .tariff-item
            .tariff-item-header
               p.tariff-item-header__type Персональный
               p.tariff-item-header__price 
                  sup.tariff-item-header__price_sup-weight $
                  | 700
               span.tariff-item-header__month В месяц
            .tariff-item-text
               p.tariff-item-text__description
                  | Скидка 15% на все товары
                  br
                  | Круглосуточно 
                  br
                  | Бесплатная доставка
                  br 
                  | Скидка 15% на все товары
                  br
                  | Круглосуточно 
                  
            button.button.button_theme-purple.tariff__button Заказать сейчас  
            