section.team.section_content-align
   .container
      .team-slider
         .team-slide
            .team-slide__img
            .team-slide-text
               h1.team-slide-text__title Марк хьюстон
               p.team-slide-text__description 
                  | Реалии нашего бизнеса таковы, что стремление к снижению
                  br 
                  | налоговой нагрузки присуще практически 
                  br
                  | каждому предприятию.
                  
               
               