doctype html
html
   head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title Bijouterie
      link(rel="stylesheet", type="text/css", href="css/slick.css")
      link(rel="stylesheet", type="text/css", href="css/slick-theme.css")
      link(rel="stylesheet", href="css/simple-line-icons/css/simple-line-icons.css")
      link(rel="stylesheet", href="css/main.css")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
   body
      include _header
      include _home
      include _advantages
      include _company
      include _shops
      include _banner
      include _products
      include _tariff
      include _team
      include _photos
      include _contact
      include _footer
      script(src="js/slick/slick.min.js")
      script(src="js/common.js")
      script(src="js/slick-custom.js")
   
      
      