.header
   background: #fb6d6d
   display: flex
   padding: 20px 0
   justify-content: space-between
   //padding-top: 25px
   position: absolute
   top: 0
   left: 0
   right: 0
   z-index: 2
   &__logo
.nav
   margin-left: 80px  
   background: red
   &__list
       justify-content: space-between
       display: flex   
       max-width: 430px
   &__item
      list-style: none
      padding: 0 20px
   &__link
      text-transform: uppercase
      display: block
      color: #fff
      font: 14px/14px UbuntuRegular
      cursor: pointer
.header-contact
   background: green
   &__number
      font: 16px/16px UbuntuBold
      color: #fff
       