.shops
   padding: 115px 0
   &__description
      padding-top: 30px
   &-slider
      margin-top: 55px
   &-slide
      //border: 1px solid red
      width: 285px
      margin-right: 20px
      background: #fff
      padding-bottom: 40px
      &__img
         width: 100%
         height: 225px
      &-text
         padding: 30px 0
         &__title
            font: 20px/27px UbuntuRegular
            padding-bottom: 15px
         &__description
            font: 14px/20px UbuntuRegular
            color: $col-darkGrey 
            